* {
    font-size: 18px;
}

header {
    width: 100%;
    text-align: center;
    padding: 30px;
    display: flex;
    letter-spacing: 30px;
    box-shadow: 0px 0px 20px 20px #00000044;
    justify-content: center;
}

body {
    background-color: #E4EEC7;
}

img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

h1 {
    color: #78502b;
}

h2 {
    font-size: 32px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Adjust the height as needed */
  }
  
  .startPage,
  .ingredientPage,
  .recipePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.177);
    text-align: center;
  }

/* .startPage,
.ingredientPage,
.recipePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    top: 30%;
    left: 20%; */
    /* transform: translate(-50%, -50%); */
    /* background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.177);
    text-align: center;
} */ */

.recipePage {
    width: 85%;

}

#errorHandler {
    color: red;
}

.recipe-video{
    font-weight: bold;
}

.button {
    background-color: #ce8929;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    margin: 5px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    width: 200px;
}

.button:hover {
    background-color: rgb(100, 100, 100);
    color: white;
    transition: .2s;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.button:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}


.ingredientList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 15px 5px 15px;
}

.ingredientField {
    padding: 5px;
    margin: 3px;
}

@media screen and (max-device-width: 768px),
screen and (max-width: 414px) {
    .startPage,
    .ingredientPage,
    .recipePage {
        width: 80%;
    }
}

.videos {
    display:flex;
}

.recipe-video {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 70%;
    justify-content: end;
    align-items: center;
    margin-bottom: 1.5rem;

}

#video-player {
    display: flex;
    width: 100%;
    height: 7rem;
}

.recipeContainer{
    display: flex;
    justify-content: space-between;
}

.recipeLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  
}

.recipeInfo{
    display: flex;
    width: 65%;
    margin-left: 3%;
    justify-content: space-evenly;
}

.videoSection{
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: 500;
}

.inactive {
    display: none;
}


.fadeIn{
    animation: fadeAndScale .5s cubic-bezier(0,.38,.88,1.3);
    transform-origin: bottom center;
}
@keyframes fadeAndScale{
    0% {
        opacity: 0;
        transform: scale3d(.50, .50, 1);
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}